    <form action='/' method='POST'>
      <p>
        Your Idea:
      </p>
      <p>Title:</p>
      <input type='text' name='idea[title]'/><br/>
      <p>Description:</p>
      <textarea name='idea[description]'>Type your idea here...</textarea><br/>
      <p>Tag:</p>
      <input type='text' name='idea[tag]'/><br/>
      <input type='submit'/>
    </form>

    <h3>Existing Ideas</h3>

    <ul>
      <% ideas.each_with_index do |idea| %>
        <li>
          <%= idea.title %> (<%= idea.id %>)<br/>
          <%= idea.description %><br/>
          tags: <%= idea.tag %><br/>
          <a href="/<%= idea.id %>/edit">Edit</a>
          <form action='/<%= idea.id %>/like' method='POST' style="display: inline">
            <input type='submit' value="+"/>
          </form>
          <form action="/<%= idea.id %>" method="POST">
           <input type="hidden" name="_method" value="DELETE">
           <input type="submit" value="delete"/>
          </form>
        </li>
      <% end %>
    </ul>
