    <form action='/' method='POST'>
      <p>
        Your Idea:
      </p>
      <div>Title:</div>
      <input type='text' name='idea[title]'/><br/>
      <div>Description:</div>
      <textarea name='idea[description]'>Type your idea here...</textarea><br/>
      <div>Tag:</div>
       <input type='text' name='idea[tag]'/><br/>
       <input type='submit'/>
    </form>

    <h3>Existing Ideas</h3>

    <ul>
      <% ideas.each do |idea| %>
        <li>
          <div> Title: <%= idea.title %> (<%= idea.id %>)<br/>
          <div> Description: <%= idea.description %><br/>
          <div> Created at: <%= idea.created_at %><br/>
          tags: <% idea.tag.each do |tag| %>
          <a href="/<%= tag %>/tag"><%= tag %></a>
          <% end %>
          </br><a href="/<%= idea.id %>/edit">Edit</a>
          <form action='/<%= idea.id %>/like' method='POST' style="display: inline">
            <input type='submit' value="+"/>
          </form>
          <form action="/<%= idea.id %>" method="POST">
           <input type="hidden" name="_method" value="DELETE">
           <input type="submit" value="delete"/>
          </form>
        </li>
      <% end %>
    </ul>
    <p>
    <div>Search:
       <form action="/search" method="get">
         <input type="text" name=search>
         <input type="submit" value="Search">
       </form>
    </div>

    <div>Filter by Hour (military) or Day:
       <form action="/filter" method="get">
         <input type="text" name=filter>
         <input type="submit" value="Filter">
       </form>
    </div>
    </p>
